@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Usem nos projetos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-principal {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

.menu a:hover {
    color: rgb(186,153,0);
}

/* fim do header principal */

/* classes para imagens de fundo */

.banner1 {
    background-image: url(images/purple-plant.jpg);
}

.banner2 {
    background-image: url(images/brown-plant2.jpg);
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mascara {
    background-color: rgba(0, 0, 0, 0.541);
    padding: 20px;
    border-radius: 5px;
}

.titulo-container {
    font-size: 40px;
    color: white;
}

.texto-container {
    font-size: 22px;
    color: white;
    margin: 40px 0;
    width: 40vw;
}

.botao-container {
    text-decoration: none;
    color:white;
    font-size: 20px;
    background-color: rgb(186,153,0);
    padding: 15px;
    border-radius: 5px;
}

/* fim tela 1 */

/* tela 2 */
.colunas {
    flex-direction: row;
    align-items: center;
}

.produto {
    width: 33vw;
}

.titulo-produto {
    font-size: 32px;
    margin-top: 20px;

}

.texto-produto {
    font-size: 16px;
    color: gray;
    line-height: 28px;
    margin: 20px 0;
    width: 26vw;
}

.produto img {
    width: 100%;
}
/* fim tela 2 */

/* tela 3 */
.container-texto-direita {
    align-items: flex-end;
    text-align: right;
}
/* fim tela 3 */

/* tela 4 */
.tres-colunas {
    width: 31vw;
    padding: 0 3vw;
}
/* fim tela 4 */

/* rodapé */
.rodape {
    width: 100%;
    height: 15vh;
    padding: 0 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
